<% if post.liked_by?(current_user) %>
  <%= link_to post_likes_path(post_id: post), method: :delete, remote: true do %>
    <div class="my-2 mx-2 fas fa-heart fa-lg">
      <%= post.likes.count %>
    </div>
  <% end %>
<% else %>
  <%= link_to post_likes_path(post_id: post), method: :post, remote: true do %>
    <div class="my-2 mx-2 far fa-heart fa-lg">
      <%= post.likes.count %>
    </div>
  <% end %>
<% end %>