<footer>
  <div class='container mt-5'>
    <div class='row'>
      <div class='mx-auto'>
        <% if user_signed_in? %>
          <p>© 2021 Aniva</p>
        <% else %>
          <p>© 2021 Aniva</p>
        <% end %>
      </div>
    </div>
  </div>
</footer>
